/* Copyright 2024 Jay Lang
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/* STYLING */

/* Fonts: everything uses Roboto */
body {
    font-family: 'Roboto', Verdana, sans-serif;
}

/* Header and footer are dark, and use a white text color to compensate */
.blue-background {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

.header-logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

/* LAYOUT */

/* Default user agent, don't do me like this */
body {
    margin: 0px;
}

/* Lists don't have any left bullet or padding to them, since 
 * we primarily use these in FlexBoxes.
 */
ul {
    list-style-type: none;
    padding: 0px;
}

/* Header area. Flex layout with some reasonable padding */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
}

.header li,
.header-logo-text {
    margin: 8px 24px;
}

/* Force the header to blend into the banner */
h1 {
    margin: 0px;
}
